/* line 5, app.css.scss */
html {
  font-family: "Roboto", sans-serif; }

/* line 9, app.css.scss */
a {
  color: #ff5722; }

/* line 13, app.css.scss */
p, ol, ul {
  font-size: 16px; }

/* line 16, app.css.scss */
p, ol, ul, h6 {
  line-height: 26px; }

/* line 20, app.css.scss */
.mdl-layout__header {
  background-color: #9e9d24; }

/* line 39, app.css.scss */
.mdl-layout--fixed-header {
  height: auto; }

/* line 43, app.css.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee; }

/* line 49, app.css.scss */
main {
  flex: 1 0 auto; }

/* line 54, app.css.scss */
footer a:hover, main a:hover {
  color: #ff3d00; }

/* line 59, app.css.scss */
.page-content {
  margin: auto; }

/* line 62, app.css.scss */
.page-content__sidebar-widget-container {
  margin-bottom: 2rem; }

/* line 65, app.css.scss */
.page-content__sidebar-widget {
  width: 95%;
  margin: auto; }

/* line 69, app.css.scss */
.page-content__main {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  background: white;
  margin-bottom: 12rem; }

/* line 76, app.css.scss */
.mdl-layout__header-row .mdl-navigation__link {
  border-bottom: 3px solid transparent;
  margin-bottom: 3px;
  opacity: 0.75;
  line-height: 45px;
  padding-top: 19px; }
  /* line 82, app.css.scss */
  .mdl-layout__header-row .mdl-navigation__link:hover {
    opacity: 1; }
  /* line 85, app.css.scss */
  .mdl-layout__header-row .mdl-navigation__link.is-active {
    border-bottom: 3px solid #ff6e40;
    opacity: 1; }

/* line 90, app.css.scss */
.mdl-layout__drawer {
  position: fixed; }
  /* line 92, app.css.scss */
  .mdl-layout__drawer .mdl-navigation__link {
    background-color: transparent; }
    /* line 94, app.css.scss */
    .mdl-layout__drawer .mdl-navigation__link.is-active {
      background-color: #ffab91;
      color: #212121;
      opacity: 1; }
      /* line 98, app.css.scss */
      .mdl-layout__drawer .mdl-navigation__link.is-active:hover {
        background-color: #ff8a65; }

/* line 104, app.css.scss */
.mdl-layout__header--scroll {
  position: fixed; }

/* line 107, app.css.scss */
.mdl-layout__content {
  width: 100%; }
  /* line 109, app.css.scss */
  .has-scrolling-header .mdl-layout__content {
    margin-top: 64px; }

/* line 114, app.css.scss */
.course-title small {
  display: block; }

/* line 118, app.css.scss */
.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
  line-height: 30px;
  margin-top: 20px; }

/* line 122, app.css.scss */
.mdl-data-table {
  font-size: 16px; }
  /* line 124, app.css.scss */
  .mdl-data-table th {
    font-size: 15px; }

/* line 128, app.css.scss */
.mdl-data-table--wide {
  width: 75%;
  margin: auto; }
  /* line 131, app.css.scss */
  .mdl-data-table--wide td, .mdl-data-table--wide th {
    text-align: left; }

/* line 135, app.css.scss */
.ie-only {
  display: none; }

/* line 138, app.css.scss */
html.ie6, html.ie7, html.ie8, html.ie9 {
  display: block; }
