<header class="columns">
  <div class="column col-md-12">
    <h2>Course Information</h2>
  </div>
  <div class="column col-md-6">
    <h3>Meeting Time & Location</h3>
    <ul>
      <li>{{ site.data.course.term }}</li>
      <li>{{ site.data.course.time }}, {{ site.data.course.location }}</li>
    </ul>
  </div>
  <div class="column col-md-6">
    {% if site.data.course.instructors != nil %}
    <h3>Instructor{% if site.data.course.instructors.size > 1 %}s{%endif%}</h3>
    <ul>
    {% for instructor in site.data.course.instructors %}
      <li>
        {{instructor.name}} (<a href="mailto: {{ instructor.email }}">{{ instructor.email }}</a>)
        {% if instructor.office != nil %}
        <br>
        Office Hours & Locations:
        <ul>
        {% for office in instructor.office %}
          <li>{{office.hours}}, {{ office.location}}</li>  
        {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% if site.data.course.description != nil %}
  <div class="column col-md-12">
    <h2>Course Description</h2>
    <blockquote>
      {{site.data.course.description | markdownify}}
    </blockquote>
  </div>
  {%endif%}
</header>
