{% if include.schedule != nil %}
  {% assign dataKey = include.schedule %}
{% else %}
  {% assign dataKey = 'schedule' %}
{% endif %}
{% assign daysOfTheWeek = site.data[dataKey].meets.size %}
{% assign date = site.data[dataKey].start | date: "%s" %}
{% assign endDate = site.data[dataKey].end | date: "%s" %}
{% assign max = endDate | minus: date | divided_by: 86400 %}
{% assign class = 0 %}
{% assign meeting = 0 %}
{% assign week = 1 %}
{% assign unit = 1 %}
<article class="schedule schedule--{{ daysOfTheWeek }}-per-week">
  {% for index in (0..max) %} 
    {% assign isWeek = class | modulo: daysOfTheWeek %}
    {% assign day = index | times: 86400 | plus: date %}
    {% assign weekDay = day | date: "%A" | downcase %}
    {% assign matchDay = day | date: "%Y-%m-%d" %}
    {% if site.data[dataKey].redefined == nil %}
      {% comment %}We make isRedefined empty if there are no redefined days{% endcomment %}
      {% assign isRedefined = "" | split: "" %}
    {% else %}
      {% assign isRedefined = site.data[dataKey].redefined | where: "date", matchDay %}
    {% endif %}
    {% if site.data[dataKey].holidays == nil %}
      {% assign holiday = "" | split: "" %}
    {% else %}
      {% assign holiday = site.data[dataKey].holidays | where: "date", matchDay %}
    {% endif %}
    {% unless site.data[dataKey].meets contains weekDay or isRedefined.size != 0 %}
      {% continue %}
    {% endunless %}
    {% if isWeek == 0 %}
      {% if site.data[dataKey].units == nil %}
        {% assign isUnit = "" | split: "" %}
      {% else %}
        {% assign isUnit = site.data[dataKey].units | where: "start", week %}
      {% endif %}
    <div class="schedule__week">
      {% if isUnit.size != 0 %}
        <h2>Unit {{ unit }}{% if isUnit[0].title %}&ndash; {{isUnit[0].title}}{% endif %}</h2>
        {% assign unit = unit | plus: 1 %}
        {% if isUnit[0].description != nil %}
          <p class="schedule_unit-description">
            {{ isUnit[0].description }}
          </p>
        {%endif%}
      {% endif %}
      {% if site.data[dataKey].units == nil %}<h2>{% else %}<h3>{% endif %}
        Week {{ week }}
        {% assign weekIndex = week | downcase %}
        {% if site.data[dataKey].weeks != nil and site.data[dataKey].weeks[weekIndex] != nil %}
         &ndash; {{ site.data[dataKey].weeks[weekIndex] }}
        {% endif %}
      {% if site.data[dataKey].units == nil %}</h2>{% else %}</h3>{% endif %}
      {% assign week = week | plus: 1 %}
    </div>
    {% endif %}
    {% assign class = class | plus: 1 %}
    {% comment %}Check if the first day of the semester is the first day of the week{% endcomment %}
    {% if class == 1 and weekDay != site.data[dataKey].meets[0] %}
      {% for d in site.data[dataKey].meets %}
        {% if weekDay == d %}{% break %}{% endif %}
        {% assign class = class | plus: 1 %}
    <div class="schedule__meeting">&nbsp;</div>
      {% endfor %}
    {% endif %}
    <div class="schedule__meeting">
      <p class="schedule__date">{{ day | date: "%a %m/%d" }}</p>
      {% if isRedefined.size != 0 %}
        <p class="schedule__redefined-day">Redefined Day</p>
      {% endif %}
      {% if holiday.size != 0 %}
        <p class="schedule__no-class">
          No Class
        </p>
        <p class="schedule__no-class-name">
          {{ holiday[0].name }}
        </p>
      {% else %}
        {% if isRedefined == nil or isRedefined.size == 0 or site.data[dataKey].meets contains isRedefined[0].is_a %}
          {{ site.data[dataKey].classes[meeting] | markdownify}}
          {% assign meeting = meeting | plus: 1 %}
        {% elsif isRedefined.size != 0 %}
          <p class="schedule__redefined-class">No Class, Go to {{ isRedefined[0].is_a | capitalize }} Classes.</p>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</article>
