// Grid Formatting:
.schedule__date,
.schedule__no-class,
.schedule__redefined-day {
  font-weight: 700;
}
.schedule__no-class-name,
.schedule__redefined-class {
  font-style: italic;
}
// Grid for Schedule:
.schedule:before,
.schedule:after {
  content: "";
  display: table;
  clear: both;
}
.schedule__meeting,
.schedule__week {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.schedule__week {
  width: 100%;
}
@for $days from 1 through 7 {
  .schedule--#{$days}-per-week {
    .schedule__meeting {
      width: 100% / $days;
    }
  }
}
